@use './styles/variables' as v;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  max-width: v.$max-width;
  margin: 0 auto;
  width: 100%;
  padding: 2.5rem 2rem 4rem;
}
